# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
_override.tf
_override.tf.json
.terraformrc
terraform.rc

# Node.js
**/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.*

# Build outputs
**/dist/
**/build/
**/.next/
**/out/

# IDEs and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
*.log
*.exe
*.zip
*.7z
